[Unit]
Description=Codiusd
After=network.target nss-lookup.target

[Service]
ExecStart=/usr/bin/npm start
WorkingDirectory=/usr/lib/node_modules/codiusd
Environment=DEBUG=*
Environment=CODIUS_PUBLIC_URI=https://hodling-xrp.no
Environment=CODIUS_XRP_PER_MONTH=10
Environment=CODIUS_MAX_MEMORY_FRACTION=0.97
Environment=CODIUS_ADDITIONAL_HOST_INFO=true
Environment=CODIUS_DISABLE_SELF_TEST=false
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=codiusd
User=root
Group=root

[Install]
WantedBy=multi-user.target
